<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.mobbile.paul.mttms">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.outlets.sku.SkuActivity"></activity>
        <activity android:name=".ui.outlets.entries.Entries" />
        <activity android:name=".ui.outlets.mapoutlet.MapOutlet" />
        <activity android:name=".ui.outlets.updateoutlets.OutletUpdate" />
        <activity android:name=".ui.outlets.Outlets" />
        <activity android:name=".ui.customers.Customers" />
        <activity android:name=".ui.messages.Messages" />
        <activity android:name=".ui.customerlist.CustomerListViwePager" />
        <activity android:name=".ui.replist.RepList" />
        <activity android:name=".ui.modules.Modules" />
        <activity android:name=".ui.auth.Userauth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>